  <div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Sus datos</h3>
                </div>
                <div class="card-body">
                   <form action="perfil/actualizarPerfil" method="POST">
                    <div class="form-group">
                        Correo: <input type="text" maxlength="50" name="DS_CORREO" placeholder="{{user.DS_CORREO}}" class="form-control">
                    </div>
                    <div class="form-group">
                        Nombre de usuario: <input type="text" maxlength="50" name="DS_NOMBRE" placeholder="{{user.DS_NOMBRE}}" class="form-control">
                    </div>
                    <div class="form-group">
                        Usuario de twitter: <input type="text" maxlength="50" name="DS_TWITTER" placeholder="{{user.DS_TWITTER}}" class="form-control">
                    </div>
                    <div class="form-group">
                        Descripción: <textarea type="text" maxlength="250" name="DS_DESCRIPCION" rows="4" cols="50" placeholder="{{user.DS_DESCRIPCION}}" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        Contraseña: <input type="password" maxlength="50" name="DS_PASS" placeholder="{{user.DS_PASS}}" class="form-control">
                    </div>
                    <div class="form-group">
                        Puntos Ponencia: {{user.NM_PUNTOS}}
                    </div>
                    <div class="form-group">
                        Puntos Preguntas: {{user.NM_PUNTOS_CUESTION}}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block">Guardar cambios</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

  <div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registrar a un usuario</h3>
                </div>
                <div class="card-body">
                   <form action="PerfilA/registrarU" method="POST">
                    <div class="form-group">
                        Correo: <input type="text" maxlength="50" name="DS_CORREO" placeholder="correo@hmail.com" class="form-control">
                    </div>
                    <div class="form-group">
                        Nombre del usuario: <input type="text" maxlength="50" name="DS_NOMBRE" placeholder="nombre y apellidos" class="form-control">
                    </div>
                    <div class="form-group">
                        Contraseña: <input type="password" maxlength="50" name="DS_PASS" placeholder="pass" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block">Registrar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

  <div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Nuevo seminario</h3>
                </div>
                <div class="card-body">
                   <form action="PerfilA/registrarSeminario" method="POST">
                    <div class="form-group">
                        Nombre: <input type="text" maxlength="50" name="DS_NOMBRE" placeholder="Seminario" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="date" id="fecha_seminario" name="FECHA" value='05-05-2020'>
                    </div>
                    <div class="form-group">
                        Descripción: <textarea type="text" maxlength="250" name="DS_DESCRIPCION" rows="4" cols="50" placeholder="Pequeña descripción del seminario" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        Minutos para presentar: <input type="number"  min="1" max="30" value=5 name="TIEMPO_PONENCIA" placeholder="5" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block">Registrar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container p-4">
    <div class="row">
        SEMINARIOS
        {{#each seminarios}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                        <h3 class="card-title text-uppercase">
                            {{DS_NOMBRE}}
                        </h3>
                    </a>
                    <p class="m-2">{{DS_DESCRIPCION}}</p>
                    <p class="text-muted">
                        {{FECHA}}
                    </p>
                    <a class="btn btn-secondary" href="PerfilA/seminario/administrador/{{CD_SEMINARIO}}">
                        Menu
                    </a>
                    <a id="pop_register_user" class="btn btn-secondary" onclick="abrirInvitacion({{CD_SEMINARIO}})">
                        Invitar
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay seminarios activos ahora mismo</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body" id="invitar">
                <form action="/PerfilA/seminario/invitar" method="POST" id="puntuarForm" class="form-container">
                    <label for="email"><b>Email del usuario a invitar</b></label>
                    <input type="text" maxlength="50" name="DS_CORREO" placeholder="correo@gmail.com" class="form-control">
                    <input type="number" id="seminario_invitado" name="CD_SEMINARIO" class="form-control">
                    <button type="submit" class="btn btn-success btn-block">Invitar</button>
                </form>
                <button class="btn btn-danger btn-block" onclick="cerrarInvitacion()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("invitar").style.display = "none";
    document.getElementById("seminario_invitado").style.display = "none";

    function abrirInvitacion(id) {
        document.getElementById("seminario_invitado").value = id;
        document.getElementById("invitar").style.display = "block";
    }

    function cerrarInvitacion() {
        document.getElementById("invitar").style.display = "none";
    }

</script>