  <div class="container_datos">
    <div class="card text-center">
        <div class="card-header">
            <h3>Sus datos</h3>
        </div>
        <div class="card-body">
            <form action="perfil/actualizarPerfil" method="POST">
            <div class="form-group">
                Correo: <input type="text" maxlength="50" name="DS_CORREO" placeholder="{{user.DS_CORREO}}" class="form-control">
            </div>
            <div class="form-group">
                Nombre de usuario: <input type="text" maxlength="50" name="DS_NOMBRE" placeholder="{{user.DS_NOMBRE}}" class="form-control">
            </div>
            <div class="form-group">
                Usuario de twitter: <input type="text" maxlength="50" name="DS_TWITTER" placeholder="{{user.DS_TWITTER}}" class="form-control">
            </div>
            <div class="form-group">
                Descripción: <textarea type="text" maxlength="700" name="DS_DESCRIPCION" rows="5" cols="60" } class="form-control" title="Incluya aquí una pequeña descripción sobre si mism@">{{user.DS_DESCRIPCION}</textarea>
            </div>
            <div class="form-group">
                Nueva contraseña: <input type="password" maxlength="50" name="DS_PASS" placeholder="*****" value = "" class="form-control">
            </div>
            <div class="form-group">
                Puntos Ponencia: {{user.NM_PUNTOS}}
            </div>
            <div class="form-group">
                Puntos Preguntas: {{user.NM_PUNTOS_CUESTION}}
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block">Guardar cambios</button>
            </div>
            </form>
        </div>
    </div>
</div>