<div class="container p-4">
    <div class="row">
        <table class="default">
            <caption>Usuarios de interAppctua</caption>
            <tr><th>Nombre</th>
            <th class="field-medium">Correo</th>
            <th>Nombre twitter</th><th class="field-big">Descripción</th><th>Puntos Ponencia</th><th>Puntos Preguntas</th><th>Rol</th><th></th><th></th></tr>
        {{#each usuarios}}
            <tr><td>{{DS_NOMBRE}}</td>
                <td class="field-medium">{{DS_CORREO}}</td>
            <td>{{DS_TWITTER}}</td><td class="field-big">{{DS_DESCRIPCION}}</td><td>{{NM_PUNTOS}}</td><td>{{NM_PUNTOS_CUESTION}}</td>
            {{#if ES_ADMIN }}
                <td>Administrador</td>
                <td><a class="btn btn-danger btn-block" href="usuarios/quitarRol/{{CD_USUARIO}}">
                    Quitarle Admin
                </a></td>
            {{else}}
                <td>Usuario</td>
                <td><a class="btn btn-success btn-block" href="usuarios/otorgarRol/{{CD_USUARIO}}">
                    Otorgarle Admin
                </a></td>
            {{/if}}
            <td><a id="pop_register_user" class="btn btn-success btn-block" onclick="abrirTablaSeminarios('{{DS_CORREO}}')">
                Invitar
            </a></td>
            </tr>
        {{/each}}
        </table>
    </div>
</div>

<div class="container p-4">
    <div class="row btn-aux">
        <a class="btn btn-secondary" href="usuarios/actualizar">
            Actualizar
        </a>
    </div>

    <div class="row btn-aux">
        <a class="btn btn-secondary" onclick="abrirNuevoUsuario()">
            Nuevo Usuario
        </a>
    </div>
</div>

<div class="container p-4" id="seminarios_actuales">
    <div class="row">
        <table class="default">
            <caption>Seminarios de interAppctua</caption>
            <tr><th>Nombre</th><th class="field-big">Descripción</th><th>Fecha</th><th></th></tr>
        {{#each seminarios}}
            <tr><td>{{DS_NOMBRE}}</td><td class="field-big">{{DS_DESCRIPCION}}</td><td>{{FECHA}}</td>
            <td><a id="pop_register_user" class="btn btn-success btn-block" onclick="Invitar({{CD_SEMINARIO}})">
                Invitar
            </a></td>
            </tr>
        {{/each}}
        </table>
    </div>
</div>

<div class="div_nuevo_usuario" id="div_nuevo_usuario">
    <div class="card text-center">
        <div class="card-header">
            <h3>Nuevo usuario</h3>
        </div>
        <div class="card-body">
            <form action="/PerfilA/registrarU" method="POST">
            {{!-- <b>Correo que enviara las invitaciones:</b> 
            <div class="form-group">
                Correo: <input type="text" maxlength="50" name="email" value={{user.DS_CORREO}} class="form-control" required>
            </div>
            <div class="form-group">
                Contraseña: <input type="password" maxlength="50" name="email_pass" placeholder="Contraseña" class="form-control" required>
            </div>
            <br> --}}
            <b>Datos del nuevo usuario:</b>
            <div class="form-group">
                Correo: <input type="text" maxlength="50" name="DS_CORREO" placeholder="correo@hmail.com" class="form-control" required>
            </div>
            <div class="form-group">
                Nombre del usuario: <input type="text" maxlength="50" name="DS_NOMBRE" placeholder="Nombre y apellidos" class="form-control" required>
            </div>
            <div class="form-group">
                Contraseña: <input type="password" maxlength="50" name="DS_PASS" placeholder="Contraseña" class="form-control" required>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block" title="Asegurese de tener activado acceso de aplicaciones poco seguras en su correo antes de registrar">Registrar</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script>
    let correo = "";
    document.getElementById("seminarios_actuales").style.display = "none";

    function abrirTablaSeminarios(correo_actual) {
        document.getElementById("seminarios_actuales").style.display = "block";
        correo = correo_actual
    }

    function abrirNuevoUsuario() {
        document.getElementById("div_nuevo_usuario").style.display = "flex";
        correo = correo_actual
    }

    function Invitar(id){
        const form = document.createElement('form');
        form.method = "POST";
        form.action = "/PerfilA/usuarios/invitar/"+ id;
        const field = document.createElement('input');
        field.type = 'hidden';
        field.name = 'DS_CORREO';
        field.value = correo;

        form.appendChild(field);
        document.body.appendChild(form);
        form.submit();
    }
</script>