  <div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Nueva Pregunta para {{usuario.DS_NOMBRE}}</h3>
                </div>
                <div class="card-body">
                   <form action="/seminario/ponentes/preguntar" method="POST">
                    <div class="form-group">
                        <textarea type="text" maxlength="250" name="DS_CUESTION" rows="4" cols="50" placeholder="Pregunta..." class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block">Hacer pregunta</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container p-4">
    <div class="row">
        <table class="default">
            <caption>Preguntas dirigidas a {{usuario.DS_NOMBRE}}</caption> 
            <tr><th>Pregunta</th><th>De</th><th>Puntos</th></tr>
        {{#each preguntas}}
            <tr><td>{{DS_CUESTION}}</td><td>{{DS_ORIGEN}}</td><td>{{NM_VOTOS}}</td>
            </tr>
        {{/each}}
        </table>
    </div>
</div>