<div class="container p-4">
    <div class="row">
    Ranking usuarios por puntos pregunta
        <table class="default">
            <tr><th>Nombre</th><th>Twitter</th><th>Rol</th><th>Puntos Pregunta</th></tr>
        {{#each usuarios}}
            <tr><td>{{DS_NOMBRE}}</td><td>{{DS_TWITTER}}</td>
            {{#if ../soyAdmin }}
                {{#if ES_PONENTE }}
                    <td>Ponente</td>
                {{else}}
                    <td><a class="btn btn-secondary" href="usuarios/otorgarPonente/{{CD_USUARIO}}">
                        Hacer Ponente
                    </a></td>
                {{/if}}
            {{else}}
                {{#if ES_PONENTE }}
                    <td>Asistente</td>
                {{else}}
                    <td>Ponente</td>
                {{/if}}
            {{/if}}
            <td>{{NM_PUNTOS_CUESTION}}</td>
            </tr>
        {{/each}}
        </table>
    </div>
</div>

<div class="container p-4">
    <div class="row">
        <a class="btn btn-secondary" href="usuarios/actualizar">
            Actualizar
        </a>
    </div>
</div>