{{#if soyAdmin }}
<div class="container p-4">
    <div class="row">
        <table class="default">
            <caption>Ranking de Asistentes</caption>
            <tr><th>Nombre</th><th>Twitter</th><th>Puntos Pregunta</th><th>Rol</th><th>Permisos</th></tr>
        {{#each usuarios}}
            <tr><td>{{DS_NOMBRE}}</td><td>{{DS_TWITTER}}</td>
                <td>{{NM_PUNTOS_CUESTION}}</td>
                {{#if ES_PONENTE }}
                    <td>Ponente</td>
                    <td><a class="btn btn-danger btn-block"  disabled="disabled" href="">
                        Quitarle Admin
                    </a></td>
                {{else}}
                <td>Asistente</td>
                <td><a class="btn btn-success btn-block" href="usuarios/otorgarPonente/{{CD_USUARIO}}">
                    Hacer Ponente
                </a></td>
                {{/if}}
            </tr>
        {{/each}}
        </table>
    </div>
</div>
{{else}}
<div class="container p-4">
    <div class="row">
        <table class="default">
            <caption>Ranking de Asistentes</caption>
            <tr><th>Nombre</th><th>Twitter</th><th>Puntos Pregunta</th><th>Rol</th></tr>
        {{#each usuarios}}
            <tr><td>{{DS_NOMBRE}}</td><td>{{DS_TWITTER}}</td>
                <td>{{NM_PUNTOS_CUESTION}}</td>
                {{#if ES_PONENTE }}
                    <td>Ponente</td>
                {{else}}
                    <td>Asistente</td>
                {{/if}}
            </tr>
        {{/each}}
        </table>
    </div>
</div>
{{/if}}

{{#if soyAdmin }}
    <div class="container p-4">
        <div class="row">
            <table class="default">
                <caption>Lista de espera de Ponentes</caption>
                <tr><th>Nombre</th><th>Correo</th><th>Permisos</th></tr>
            {{#each listaEspera}}
                <tr><td>{{DS_NOMBRE}}</td>
                    <td>{{DS_CORREO}}</td>
                        <td><a class="btn btn-secondary btn-block" href="usuarios/otorgarPonente/{{CD_USUARIO}}">
                            Hacer Ponente
                        </a></td>
                </tr>
            {{/each}}
            </table>
        </div>
    </div>
{{else}}
        <div class="container p-4">
            <div class="row">
                {{#if soyPonente }}
                    <a class="btn btn-danger"  disabled="disabled">
                        Ya eres ponente
                    </a>
                {{else}}
                    <a class="btn btn-secondary" href="usuarios/pedirPonente">
                        Pedir ser ponente
                    </a>
                {{/if}}
            </div>
        </div>
{{/if}}

<div class="container p-4">
    <div class="row">
        <a class="btn btn-secondary" href="usuarios/actualizar">
            Actualizar
        </a>
    </div>
</div>

